@import 'variables';

@keyframes slide-buttons {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0);
    }
}

.viewport {
    .buttons {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: $spacingMobile;
        transform: translateY(200px);

        @media (min-width: $desktopBreakpointStart) {
            padding: $spacingDesktop;
        }

        .button {
            background-color: white;
            height: $buttonSizeMobile;
            width: $buttonSizeMobile;
            outline: none;
            border: none;
            font-size: 24px;
            margin: 0 8px;
            display: flex;
            cursor: pointer;

            @media (min-width: $desktopBreakpointStart) {
                height: $buttonSizeDesktop;
                width: $buttonSizeDesktop;
                transition: outline 0.25s;
            }

            &.previous-button {
                transform: rotate(6deg);
            }

            &.search-button {
                transform: rotate(-3deg);
            }

            &.share-button {
                transform: rotate(3deg);
            }

            &.next-button {
                transform: rotate(-4deg);
            }

            svg {
                margin: auto;

                path {
                    transition: fill $colorTransitionDuration linear;
                }
            }
        }
    }

    &.finished-loading {
        .buttons {
            animation: slide-buttons 0.5s;
            animation-fill-mode: forwards;
            animation-delay: $loaderAnimationDuration + 0.25s;
        }
    }
}
