@import 'variables';

.filter {
    display: flex;
    justify-content: center;
    padding-bottom: $spacingMobile;

    @media (min-width: $desktopBreakpointStart) {
        padding-bottom: $spacingDesktop;
    }

    input {
        border: 2px solid #cdcdcd;
        width: 300px;
        max-width: 90vw;
        border-bottom: 1px solid #9e9e9e;
        outline: none;
        font-size: 20px;
        height: $filterHeight;
        padding: $filterPadding;

        @media (min-width: $desktopBreakpointStart) {
            font-size: 24px;
        }
    }
}
