@import 'variables';

$buttonsHeightMobile: $buttonSizeMobile + $spacingMobile * 2 + $spacingMobile;
$buttonsHeightDesktop: $buttonSizeDesktop + $spacingDesktop * 2 + $spacingDesktop;

$filtersHeightMobile: $filterHeight + $spacingMobile + $filterPadding * 2;
$filtersHeightDesktop: $filterHeight + $spacingDesktop + $filterPadding * 2;

.jokes {
    position: relative;
    width: 100%;
    display: flex;
    transition: height $colorTransitionDuration;
    height: calc(100% - #{$buttonsHeightMobile});
    margin-top: $spacingMobile;

    &.filter-visible {
        height: calc(100% - #{$buttonsHeightMobile + $filtersHeightMobile});
    }

    @media (min-width: $desktopBreakpointStart) {
        height: calc(100% - #{$buttonsHeightDesktop});
        margin-top: $spacingDesktop;

        &.filter-visible {
            height: calc(100% - #{$buttonsHeightDesktop + $filtersHeightDesktop});
        }
    }

    .joke {
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;

        box-sizing: border-box;
        overflow: auto;
        padding: 0 $jokeSpacing;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-fill-mode: forwards;
        animation-duration: $jokeAnimationDuration;

        &.slide-left {
            left: $jokeOffset;
            right: -$jokeOffset;

            &.current {
                animation-name: slide-in-left;
            }

            &.older {
                animation-name: slide-out-left;
            }
        }

        &.slide-right {
            left: -$jokeOffset;
            right: $jokeOffset;

            &.current {
                animation-name: slide-in-right;
            }

            &.newer {
                animation-name: slide-out-right;
            }
        }

        .top-spacer {
            margin-top: auto;
        }

        .bottom-spacer {
            margin-bottom: auto;
        }

        .joke-paragraph {
            padding: 12px 16px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            margin: 0;
            max-width: 532px;
            transition: background-color $colorTransitionDuration linear,
                color $colorTransitionDuration linear;

            @media (min-width: $desktopBreakpointStart) {
                padding: 16px 32px;
                font-size: 32px;
                line-height: 38px;
            }

            &:nth-child(even) {
                color: white;
                transform: rotate(2deg);
            }

            &:nth-child(odd) {
                background-color: white;
                transform: rotate(-2deg);
            }
        }
    }
}

@mixin slide-in($name, $start, $end) {
    @keyframes #{$name} {
        #{0%} {
            opacity: 0;
            transform: translateX($start);
        }

        #{25%} {
            opacity: 0;
        }

        #{100%} {
            opacity: 1;
            transform: translateX($end);
        }
    }
}

@mixin slide-out($name, $start, $end) {
    @keyframes #{$name} {
        #{0%} {
            opacity: 1;
            transform: translateX($start);
        }

        #{40%} {
            opacity: 0;
        }

        #{100%} {
            opacity: 0;
            transform: translateX($end);
        }
    }
}

@include slide-in('slide-in-left', 0, -$jokeOffset);
@include slide-out('slide-out-left', -$jokeOffset, -#{$jokeOffset + $jokeMovement});
@include slide-in('slide-in-right', 0, $jokeOffset);
@include slide-out('slide-out-right', $jokeOffset, #{$jokeOffset + $jokeMovement});
