@import 'buttons';
@import 'emojis';
@import 'filter';
@import 'jokes';
@import 'themes';

html,
body,
.viewport {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.viewport {
    position: relative;
    overflow: hidden;
    transition: background-color $colorTransitionDuration linear,
        background-image $colorTransitionDuration linear;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;

    @media (min-width: $desktopBreakpointStart) {
        background-position: unset;
    }
}
