@mixin color-spark($name, $color) {
    @keyframes #{$name} {
        0%,
        75% {
            background-color: $color;
            fill: white;
        }
        100% {
            background-color: white;
            fill: $color;
        }
    }
}

@include color-spark('color-spark-alpha', #477106);
@include color-spark('color-spark-beta', #fc863b);
@include color-spark('color-spark-gamma', #4d36fe);
@include color-spark('color-spark-delta', #ff6767);

.alpha-theme {
    background-color: #4d6cfa;
    background-image: url('/images/alpha-bg.png?$modena=jokify');

    .loader {
        .spinner-wrapper {
            .spinner {
                background-color: #4d6cfa;
            }
        }
    }

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #477106;
                }

                &:nth-child(odd) {
                    color: #477106;
                }
            }
        }
    }

    .button {
        &.current {
            animation: color-spark-alpha $colorTransitionDuration;

            svg {
                path,
                polygon {
                    animation: color-spark-alpha $colorTransitionDuration;
                }
            }
        }

        svg {
            path,
            polygon {
                fill: #477106;
            }
        }

        @media (min-width: $desktopBreakpointStart) {
            &:not(.disabled-button):hover {
                outline: 4px solid #477106;
            }
        }

        &.options-button.options-visible,
        &:not(.disabled-button):active,
        &.random-button.selected,
        &.chronological-button.selected {
            background-color: #477106;
            svg {
                path,
                polygon {
                    fill: white;
                }
            }
        }
    }
}

.beta-theme {
    background-color: #d8305a;
    background-image: url('/images/beta-bg.png?$modena=jokify');

    .loader {
        .spinner-wrapper {
            .spinner {
                background-color: #d8305a;
            }
        }
    }

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #fc863b;
                }

                &:nth-child(odd) {
                    color: #fc863b;
                }
            }
        }
    }

    .button {
        &.current {
            animation: color-spark-beta $colorTransitionDuration;

            svg {
                path,
                polygon {
                    animation: color-spark-beta $colorTransitionDuration;
                }
            }
        }

        svg {
            path,
            polygon {
                fill: #fc863b;
            }
        }

        @media (min-width: $desktopBreakpointStart) {
            &:not(.disabled-button):hover {
                outline: 4px solid #fc863b;
            }
        }

        &.options-button.options-visible,
        &:not(.disabled-button):active,
        &.random-button.selected,
        &.chronological-button.selected {
            background-color: #fc863b;
            svg {
                path,
                polygon {
                    fill: white;
                }
            }
        }
    }
}

.gamma-theme {
    background-color: #a094ff;
    background-image: url('/images/gamma-bg.png?$modena=jokify');

    .loader {
        .spinner-wrapper {
            .spinner {
                background-color: #a094ff;
            }
        }
    }

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #4d36fe;
                }

                &:nth-child(odd) {
                    color: #4d36fe;
                }
            }
        }
    }

    .button {
        &.current {
            animation: color-spark-gamma $colorTransitionDuration;

            svg {
                path,
                polygon {
                    animation: color-spark-gamma $colorTransitionDuration;
                }
            }
        }

        svg {
            path,
            polygon {
                fill: #4d36fe;
            }
        }

        @media (min-width: $desktopBreakpointStart) {
            &:not(.disabled-button):hover {
                outline: 4px solid #4d36fe;
            }
        }

        &.options-button.options-visible,
        &:not(.disabled-button):active,
        &.random-button.selected,
        &.chronological-button.selected {
            background-color: #4d36fe;
            svg {
                path,
                polygon {
                    fill: white;
                }
            }
        }
    }
}

.delta-theme {
    background-color: #94dfff;
    background-image: url('/images/delta-bg.png?$modena=jokify');

    .loader {
        .spinner-wrapper {
            .spinner {
                background-color: #94dfff;
            }
        }
    }

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #ff6767;
                }

                &:nth-child(odd) {
                    color: #ff6767;
                }
            }
        }
    }

    .button {
        &.current {
            animation: color-spark-delta $colorTransitionDuration;

            svg {
                path,
                polygon {
                    animation: color-spark-delta $colorTransitionDuration;
                }
            }
        }

        svg {
            path,
            polygon {
                fill: #ff6767;
            }
        }

        @media (min-width: $desktopBreakpointStart) {
            &:not(.disabled-button):hover {
                outline: 4px solid #ff6767;
            }
        }

        &.options-button.options-visible,
        &:not(.disabled-button):active,
        &.random-button.selected,
        &.chronological-button.selected {
            background-color: #ff6767;
            svg {
                path,
                polygon {
                    fill: white;
                }
            }
        }
    }
}
