$loaderAnimationDuration: 2s;

$desktopBreakpointStart: 600px;
$colorTransitionDuration: 0.5s;
$spacingMobile: 30px;
$spacingDesktop: 50px;

$jokeAnimationDuration: 1s;
$jokeSpacing: 24px;
$jokeOffset: 300px;
$jokeMovement: 300px;

$buttonSizeDesktop: 65px;
$buttonSizeMobile: 55px;

$filterHeight: 30px;
$filterPadding: 10px;

$symbolSize: 40px;
