@import 'variables';

.buttons {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: $spacingMobile;

    @media (min-width: $desktopBreakpointStart) {
        padding: $spacingDesktop;
    }

    .button {
        background-color: white;
        height: $buttonSizeMobile;
        width: $buttonSizeMobile;
        outline: none;
        border: none;
        font-size: 24px;
        margin: 0 8px;
        display: flex;
        cursor: pointer;

        @media (min-width: $desktopBreakpointStart) {
            height: $buttonSizeDesktop;
            width: $buttonSizeDesktop;
        }

        &.previous-button {
            transform: rotate(6deg);
        }

        &.search-button {
            transform: rotate(-3deg);
        }

        &.share-button {
            transform: rotate(3deg);
        }

        &.next-button {
            transform: rotate(-4deg);
        }

        svg {
            margin: auto;

            path {
                transition: fill $colorTransitionDuration linear;
            }
        }
    }
}
