@import 'variables';

.jokes {
    position: relative;
    width: 100%;
    height: calc(100% - #{$buttonSize + $buttonSpacing * 2});
    display: flex;

    .joke {
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;

        box-sizing: border-box;
        overflow: auto;
        padding: 0 $jokeSpacing;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-fill-mode: forwards;
        animation-duration: $animationDuration;

        &.loading {
            left: 0;
            right: 0;
            opacity: 1;
        }

        &.slide-left {
            left: $jokeOffset;
            right: -$jokeOffset;

            &.current {
                animation-name: slide-in-left;
            }

            &.older {
                animation-name: slide-out-left;
            }
        }

        &.slide-right {
            left: -$jokeOffset;
            right: $jokeOffset;

            &.current {
                animation-name: slide-in-right;
            }

            &.newer {
                animation-name: slide-out-right;
            }
        }

        .joke-paragraph {
            padding: 12px 16px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            margin: 0;
            max-width: 532px;

            @media (min-width: 599px) {
                padding: 24px 32px;
                font-size: 32px;
                line-height: 38px;
            }

            &:nth-child(even) {
                color: white;
                transform: rotate(-2deg);
            }

            &:nth-child(odd) {
                background-color: white;
                transform: rotate(2deg);
            }
        }
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        transform: translateX(-$jokeOffset);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    0% {
        opacity: 1;
        transform: translateX(-$jokeOffset);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateX(-#{$jokeOffset + $jokeMovingOffset});
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX($jokeOffset);
    }
}

@keyframes slide-out-right {
    0% {
        opacity: 1;
        transform: translateX($jokeOffset);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateX(#{$jokeOffset + $jokeMovingOffset});
    }
}
