@import 'variables';

.jokes {
    position: relative;
    width: 100%;
    height: calc(100% - #{$buttonSize + $buttonSpacing * 2});
    display: flex;

    .joke {
        position: absolute;
        top: 0;
        bottom: 0;

        box-sizing: border-box;
        overflow: auto;
        padding: 0 $jokeSpacing;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white;
        animation-fill-mode: forwards;
        animation-duration: $animationDuration;

        &.slide-left {
            left: 100%;
            right: -100%;

            &.current {
                animation-name: slide-in-left;
                animation-timing-function: ease-in;
            }

            &.older {
                animation-name: slide-out-left;
                animation-timing-function: ease-out;
            }
        }

        &.slide-right {
            left: -100%;
            right: 100%;

            &.current {
                animation-name: slide-in-right;
                animation-timing-function: ease-in;
            }

            &.newer {
                animation-name: slide-out-right;
                animation-timing-function: ease-out;
            }
        }

        .joke-paragraph {
            width: 100%;
            max-width: 992px;
        }
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(200%);
    }
}
