@import 'buttons';
@import 'emojis';
@import 'filter';
@import 'joke';
@import 'themes';

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('/fonts/GloriaHallelujah.ttf?$modena=jokify');
}

@font-face {
    font-family: 'Indie Flower', cursive;
    src: url('/fonts/IndieFlower.ttf?$modena=jokify');
}

html,
body,
.fixed-viewport {
    height: 100%;
}

body {
    margin: 0;
    // font-family: 'Gloria Hallelujah', sans-serif;
    font-family: 'Indie Flower', sans-serif;
}

.fixed-viewport {
    position: relative;
    overflow: hidden;
}
