@import 'buttons';
@import 'emojis';
@import 'joke';
@import 'themes';
@import 'variables';

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('/fonts/GloriaHallelujah.ttf?$modena=jokify');
}

@font-face {
    font-family: 'Indie Flower', cursive;
    src: url('/fonts/IndieFlower.ttf?$modena=jokify');
}

html,
body,
.fixed-viewport {
    height: 100%;
}

body {
    margin: 0;
    // font-family: 'Gloria Hallelujah', sans-serif;
    font-family: 'Indie Flower', sans-serif;
}

.fixed-viewport {
    position: relative;
    overflow: hidden;
}

.filter-input {
    display: block;
    margin: 20px auto;
    width: 200px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 1rem;
    font-size: 16px;
    padding: 10px;
}

.filter .joke {
    height: calc(100% - #{$buttonSize / 2 + $jokeSpacing * 2} - 80px);
    align-items: flex-start;
}
