@import 'buttons';
@import 'emojis';
@import 'filter';
@import 'jokes';
@import 'themes';

html,
body,
.fixed-viewport {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fixed-viewport {
    position: relative;
    overflow: hidden;
}
