.alpha-theme {
    background-color: #4d6cfa;

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #477106;
                }

                &:nth-child(odd) {
                    color: #477106;
                }
            }
        }
    }

    .buttons {
        .button {
            svg {
                path {
                    fill: #477106;
                }
            }

            @media (min-width: $desktopBreakpointStart) {
                &:hover {
                    border: 3px solid #477106;
                }
            }

            &.search-button.filter-visible,
            &:active {
                background-color: #477106;
                svg {
                    path {
                        fill: #4d6cfa;
                    }
                }
            }
        }
    }
}

.beta-theme {
    background-color: #d8305a;

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #fc863b;
                }

                &:nth-child(odd) {
                    color: #fc863b;
                }
            }
        }
    }

    .buttons {
        .button {
            svg {
                path {
                    fill: #fc863b;
                }
            }

            @media (min-width: $desktopBreakpointStart) {
                &:hover {
                    border: 3px solid #fc863b;
                }
            }

            &.search-button.filter-visible,
            &:active {
                background-color: #fc863b;
                svg {
                    path {
                        fill: #d8305a;
                    }
                }
            }
        }
    }
}

.gamma-theme {
    background-color: #a094ff;

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #4d36fe;
                }

                &:nth-child(odd) {
                    color: #4d36fe;
                }
            }
        }
    }

    .buttons {
        .button {
            svg {
                path {
                    fill: #4d36fe;
                }
            }

            @media (min-width: $desktopBreakpointStart) {
                &:hover {
                    border: 3px solid #4d36fe;
                }
            }

            &.search-button.filter-visible,
            &:active {
                background-color: #4d36fe;
                svg {
                    path {
                        fill: #a094ff;
                    }
                }
            }
        }
    }
}

.delta-theme {
    background-color: #94dfff;

    .jokes {
        .joke {
            .joke-paragraph {
                &:nth-child(even) {
                    background-color: #ff6767;
                }

                &:nth-child(odd) {
                    color: #ff6767;
                }
            }
        }
    }

    .buttons {
        .button {
            svg {
                path {
                    fill: #ff6767;
                }
            }

            @media (min-width: $desktopBreakpointStart) {
                &:hover {
                    border: 3px solid #ff6767;
                }
            }

            &.search-button.filter-visible,
            &:active {
                background-color: #ff6767;
                svg {
                    path {
                        fill: #94dfff;
                    }
                }
            }
        }
    }
}
