@mixin theme-transition() {
    -webkit-transition: background-color 0.5s linear, color 0.5s linear;
    -ms-transition: background-color 0.5s linear, color 0.5s linear;
    transition: background-color 0.5s linear, color 0.5s linear;
}

.alpha-theme {
    background-color: #4d6cfa;
    @include theme-transition();

    .jokes {
        .joke {
            .joke-paragraph {
                @include theme-transition();

                &:nth-child(even) {
                    background-color: #477106;
                }

                &:nth-child(odd) {
                    color: #477106;
                }
            }
        }
    }

    .buttons {
        svg {
            path {
                fill: #477106;
            }
        }
    }
}

.beta-theme {
    background-color: #d8305a;
    @include theme-transition();

    .jokes {
        .joke {
            .joke-paragraph {
                @include theme-transition();

                &:nth-child(even) {
                    background-color: #fc863b;
                }

                &:nth-child(odd) {
                    color: #fc863b;
                }
            }
        }
    }

    .buttons {
        svg {
            path {
                fill: #fc863b;
            }
        }
    }
}

.gamma-theme {
    background-color: #a094ff;
    @include theme-transition();

    .jokes {
        .joke {
            .joke-paragraph {
                @include theme-transition();

                &:nth-child(even) {
                    background-color: #4d36fe;
                }

                &:nth-child(odd) {
                    color: #4d36fe;
                }
            }
        }
    }

    .buttons {
        svg {
            path {
                fill: #4d36fe;
            }
        }
    }
}

.delta-theme {
    background-color: #94dfff;
    @include theme-transition();

    .jokes {
        .joke {
            .joke-paragraph {
                @include theme-transition();

                &:nth-child(even) {
                    background-color: #ff6767;
                }

                &:nth-child(odd) {
                    color: #ff6767;
                }
            }
        }
    }

    .buttons {
        svg {
            path {
                fill: #ff6767;
            }
        }
    }
}
