$desktopBreakpointStart: 600px;

$animationDuration: 1s;
$jokeSpacing: 24px;
$jokeOffset: 300px;
$jokeMovement: 300px;

$buttonSizeDesktop: 65px;
$buttonSizeMobile: 55px;
$buttonSpacingMobile: 30px;
$buttonSpacingDesktop: 50px;

$filterHeight: 20px;
$filterMargin: 10px;
$filterPadding: 10px;

$symbolSize: 40px;
