$desktopBreakpointStart: 600px;

$animationDuration: 1s;
$jokeSpacing: 24px;
$jokeDesktopOffset: 40%;
$jokeDesktopMovement: 40%;
$jokeMobileOffset: 100%;
$jokeMobileMovement: 100%;

$buttonSize: 60px;
$buttonSpacing: 15px;

$filterHeight: 20px;
$filterMargin: 10px;
$filterPadding: 10px;

$symbolSize: 40px;
