$animationDuration: 0.5s;
$jokeSpacing: 24px;
$jokeOffset: 40%;
$jokeMovingOffset: 40%;

$buttonSize: 70px;
$buttonSpacing: 15px;

$filterHeight: 30px;
$filterMargin: 10px;
$filterPadding: 10px;

$symbolSize: 40px;
